extends ../layout

block content
    .d-flex.justify-content-between.align-items-center
        a.btn-back(href="/books/page/1") <i class="fas fa-angle-left"></i> Back
    .d-flex.justify-content-center.flex-column.align-items-center
        h2.text-center.text-primary.text-uppercase #{title}
        form.col-5
            .form-group.row.align-items-center.justify-content-center
                label.col-sm-2 Category
                if categories
                    .col-sm-7
                        select#category_id.form-control
                            each cat in categories
                                option(value=cat.id) #{(cat.name).toUpperCase()}
            .form-group.row.align-items-center.justify-content-center
                label.col-sm-2.label-control Book Title
                .col-sm-7
                    input#title.form-control(placeholder="Title...")
            .form-group.row.align-items-center.justify-content-center
                label.col-sm-2.label-control Book Type
                .col-sm-7
                    select#type.form-control
                        option(value="0") PDF
                        option(value="1") EPUB
            .form-group.row.align-items-center.justify-content-center
                label.col-sm-2 Thumbnail
                .col-sm-7.wrap-thumb
                    div
                        input#thumbnail.form-control(type="url", placeholder="Thumbnail...")
                        img#img-thumbnail.img-thumbail.thumbnail.new.rounded(src="")
                    div
                        label.text-note Use image link other or link url share: https://drive.google.com/open?id=1J1Nv1lZTnUuVhgmahQmyDF-mltq5oIwn

            .form-group.row.align-items-center.justify-content-center
                label.col-sm-2.label-control ID_GG_Driver
                .col-sm-7
                    input#id_gg_driver.form-control(placeholder="ID GG Driver")
            .form-group.row.justify-content-center
                label.col-sm-2 Intro
                .col-sm-7
                    textarea#content.form-control(rows=5, placeholder="Intro book...")
            .form-group.row.justify-content-center
                button.btn.btn-primary.col-sm-3.offset-sm-2(type="button")#onAddBook Submit
        script(src="/js/book.js")
