extends ../layout

block content
    .d-flex.justify-content-end
        a.btn.btn-primary.btn-add(href="/books/addBook") <i class="fas fa-plus"></i>
    .table-responsive
        table.table.mt-2.table-striped
            tr.thead-dark.text-center.text-uppercase
                th ID
                th Title
                th Type
                th Category
                th Thumbnail
                th ID GG Driver
                th Intro
                th Ratings
                th Views
                th Action
            if books
                - var i = 0
                each book in books
                    - i++
                    tr.text-center
                        td.text-center= i
                        td.text-left= book.title
                        td.text-left= (book.type == 0 || book.type == undefined) ? "PDF" : "EPUB"
                        if book.category
                            td= (book.category.name).toUpperCase()
                        else
                            td
                        td
                            img.thumbnail(src=book.thumbnail)
                        td.text-left= book.id_gg_driver
                        td.text-left= book.content.substr(0, 100)+"..."
                        td.text-center= book.ratings.length
                        td.text-center= (book.views > 0) ? book.views : 0
                        td
                            .d-flex.align-items-center.justify-content-center
                                i.fas.fa-trash.text-danger.mr-4.onDeleteBook(data-id=book._id)
                                a(href="/books/editBook/"+book.id)
                                    i.fas.fa-edit
    if totalPage > 1
        - var prevPage = parseInt(currentPage) -1;
        - var nextPage = parseInt(currentPage) + 1
        - prevPage = (prevPage > 1) ? prevPage : 1
        - nextPage = (nextPage < totalPage) ? nextPage : totalPage
        nav.justify-content-center.d-flex
            ul.pagination
                li.page-item
                    a.page-link(href="/books/page/1")
                        span &laquo;
                li.page-item
                    a.page-link(href="/books/"+prevPage) Prev
                - var page = 1, maxPage = 5;
                - var countPage = Math.min(maxPage, totalPage);
                while page <= countPage
                    li(class=((page == currentPage) ? 'page-item active' : 'page-item'))
                        a.page-link(href="/books/page/"+page) #{page}
                    - page++
                li.page-item
                    a.page-link(href="/books/page/" + nextPage) Next
                li.page-item
                    a.page-link(href="/books/page/"+totalPage)
                        span &raquo;
        //    <li class="page-item">
        //<a class="page-link" href="#" aria-label="Previous">
        //<span aria-hidden="true">&laquo;</span>
        //</a>
        //</li>
        //<li class="page-item"><a class="page-link" href="#">1</a></li>
        //<li class="page-item"><a class="page-link" href="#">2</a></li>
        //<li class="page-item"><a class="page-link" href="#">3</a></li>
        //<li class="page-item">
        //<a class="page-link" href="#" aria-label="Next">
        //<span aria-hidden="true">&raquo;</span>
        //</a>
        //</li>
        //</ul>
        //</nav>
    script(src="/js/book.js")
