extends layout

block content
  h1= title
  ul.list-unstyled
    li.mb-2
      a.w150.btn.btn-primary(href="/categories") Categories (#{totalCats})
    li
      a.w150.btn.btn-primary(href="/books") Books (#{totalBook})
