doctype html
head
    title= title
    link(rel="icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', crossorigin="anonymous")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inter:400,500,600&display=swap', crossorigin="anonymous")
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://kit.fontawesome.com/96b2d877cd.js", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(src="/js/global.js")

html
    body
        .containerx
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="/") <i class="fas fa-home"></i> Sách Online
                    li.nav-item
                        a.nav-link(href="/books/page/1") <i class="fas fa-book"></i> Books
                    li.nav-item
                        a.nav-link(href="/categories") <i class="fas fa-folder-open"></i> Categories
                span.navbar-text.text-white.text-capitalize <i class="fas fa-user"></i> #{user.user_name}
                a.text-warning.ml-2(href="/logout") <i class="fas fa-sign-out-alt"></i> Logout
            block content
