extends layout-login
block content
  .form-login.justify-content-center
    .header-login.d-flex.align-items-center.mb-3.justify-content-center
      img.logo(src="/images/logo.png")
      h4.mb-0.ml-2 SachOnline
    form.col-8
      .form-group.row.align-items-center.justify-content-center
        label.mb-0.col-sm-1 Email
        .col-sm-5
          input#email.form-control(placeholder="Email...")
      .form-group.row.align-items-center.justify-content-center
        label.mb-0.col-sm-1 Password
        .col-sm-5
          input#password.form-control(placeholder="Password...", type="password")
      .form-group.row.justify-content-center
        button.btn.btn-primary.col-3(type="button")#onLogin Login
      .form-group.row.justify-content-center
        a(href="/register").text-primary Register
  script(src="/js/login.js")
