body {
  padding: 50px;
  font: 13px "Inter", sans-serif;
  background: #eee;
}
.bg-light {
  background: #18acc3 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}
a {
  color: #00b7ff;
}
.text-primary {
  color: #117a8b !important;
}
.page-link {
  color: #117a8b;
  transition: all 0.1s ease-in-out;
}
.page-link:hover {
  background-color: #117a8b;
  border-color: #117a8b;
  color: #fff;
}
.page-link:focus {
  box-shadow: none;
}
.btn-primary,
.page-item.active .page-link,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #117a8b;
  border-color: #117a8b;
  box-shadow: none !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #149fb5;
  border-color: #149fb5;
}
a.btn-back {
  text-decoration: none;
  padding: 6px;
  background: #117a8b;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
  width: 100px;
  color: #fff;
  text-transform: uppercase;
}
.btn-add {
  border-radius: 50%;
  box-shadow: 0 0 20px #ccc;
  margin: 10px 0 10px 0;
}
.wrap-thumb {
  display: flex;
  flex-direction: column;
}
.wrap-thumb div {
  display: flex;
  align-items: center;
}
.thumbnail {
  height: 30px;
}
.thumbnail.new {
  height: 80px;
  position: absolute;
  right: -60px;
}
.text-note {
  text-transform: lowercase;
  opacity: 0.6;
}
.form-control {
  font-size: 13px;
}
/*SWEET-ALERT*/
.swal2-title {
  font-size: 1.3em !important;
}
.swal2-styled.swal2-confirm {
  background-color: #149fb5 !important;
}
.swal2-styled:focus {
  box-shadow: none !important;
}
.swal2-styled {
  padding: 5px 30px !important;
  width: 120px;
}
.swal2-icon {
  zoom: 0.5;
}
label {
  text-transform: uppercase;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 300px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
/*FORM LOGIN*/
.form-login {
  height: 70vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 30px;
}
input,
input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
