extends ../layout

block content
    .d-flex.justify-content-between.align-items-center
        a.btn-back(href="/categories") <i class="fas fa-angle-left"></i> Back
    .d-flex.justify-content-center.flex-column.align-items-center
        h4.text-center.mb-3=title
        form.col-8
            .form-group.row.align-items-center.justify-content-center
                label.mb-0.col-sm-1 Name
                .col-sm-5
                    input#name.form-control(placeholder="Name...")
            .form-group.row.justify-content-center
                 button.btn.btn-primary.col-3(type="button")#onAddCate Submit
    script(src="/js/category.js")
