extends ../layout

block content
    .d-flex.justify-content-between.align-items-center
        a.btn-back(href="/categories") <i class="fas fa-angle-left"></i> Back
    .d-flex.justify-content-center.flex-column.align-items-center
        h4.text-center.mb-3= title
        form.col-8
            .form-group.row.align-items-center.justify-content-center
                input#cat_id(type="hidden", value=cat._id)
                label.col-sm-1.mb-0 Name
                .col-sm-4
                    input#name.form-control(placeholder="Name...", value=cat.name)
            .form-group.row.justify-content-center
                 button.btn.btn-primary.col-3(type="button")#onEditCate Submit
    script(src="/js/category.js")
