extends ../layout

block content
    .d-flex.justify-content-end
        a.btn.btn-add.btn-primary.text-white.mb-2(href="/categories/add") <i class="fas fa-plus"></i>
    .table-responsive
        table.table.table-striped
            tr.thead-dark.text-center.text-uppercase
                th #ID
                th Name
                th Books
                th Action
            if categories
                - let i = 0
                each cat in categories
                    - i++
                    tr.text-center
                        td= i
                        td= cat.name.toUpperCase()
                        td= cat.books.length
                        td
                            .d-flex.align-items-center.justify-content-center
                                i.fas.fa-trash.text-danger.mr-4.onDeleteCate(data-id=cat._id)
                                a(href="/categories/edit/"+cat._id)
                                    i.fas.fa-edit
    script(src="/js/category.js")
